@import 'jquery-ui';
@import 'grid';

$link-color: #6954c8;

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', '微軟正黑體', 'Microsoft JhengHei', 'Arial', 'Lucida Grande', sans-serif;
  margin-bottom: 80px;
  background-image: url('../../assets/images/background.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  font-size: 14px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  border-style: solid;
}

.na {
  display: none;
}

h3,
.today-list {
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
}

.today-list {
  list-style: none;
  padding: 0;

  .list-group-item {
    padding: 10px 15px;
  }

  h4 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;

    a {
      font-weight: inherit;
    }
  }
}

audio {
  width: 100%;
}

.ui-datepicker {
  margin: 0 auto;
}

.ui-datepicker-header {
  border-radius: 0;
}

.ui-datepicker {
  padding: 0 20px;
  width: 100%;

  td .ui-state-default {
    margin: 0 auto;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    line-height: 2;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    top: 0;
    height: 100%;
  }

  .ui-datepicker-prev {
    left: 5px;
  }

  .ui-datepicker-next {
    right: 5px;
  }
}

.list-group-item {
  border: 1px solid #eee;

  &:first-child,
  &:last-child {
    border-radius: 0;
  }
}
