$link-color: #6954c8;

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    margin-bottom: 80px;
    background-image: url('../../assets/images/background.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

a {
    color: $link-color;

    &:hover {
        color: $link-color;
    }
}

.na {
    display: none;
}

.ui-datepicker {
    margin: 0 auto;
}

.panel1 {
    padding: 15px 0;
}

h3,
.today-list {
    text-align: center;
}

audio {
    width: 100%;
}

.ui-datepicker-header {
    border-radius: 0;
}

.ui-datepicker {
    padding: 0 20px;
    width: 100%;

    td .ui-state-default {
        margin: 0 auto;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        line-height: 2;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        top: 0;
        height: 100%;
    }

    .ui-datepicker-prev {
        left: 5px;
    }

    .ui-datepicker-next {
        right: 5px;
    }
}

.list-group-item {
    border: 1px solid #eee;

    &:first-child,
    &:last-child {
        border-radius: 0;
    }
}
